* {
    font-family: Ubuntu, sans-serif;
}
body {
    background: rgb(238,174,202);
    background: repeat top/60% url("./images/pride-dice.png"), radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}

#intro {
    background-color: rgba(255, 255, 255, .8);
    margin: 2em auto;
    display: grid;
    justify-content: center;
    max-width: 600px;
    padding: 10px;
}

form {
    background-color: rgba(255, 255, 255, .8);
    margin: 2em auto;
    display: grid;
    max-width: 600px;
    padding: 15px;
    gap: 10px;
}

.form-field {
    display: grid;
}

#addy {
    display: none;
}

svg {
    color: rgba(141, 162, 162, 0.615);
}